name: CI

on: 
  push:
    tags:
      - 'v*'

jobs:
  build-mac-release:
      runs-on: [macos-10.15]

      steps:
        - name: Check out repository
          uses: actions/checkout@v1
        
        - name: Install Node.js, NPM and Yarn
          uses: actions/setup-node@v1
          with:
            node-version: 12

        - name: Install
          run: npm i

        - name: Install electron-packager
          run: npm i -D electron-packager
        
        - name: Electron Builder Action
          run: npx electron-packager .

        - name: Zip Builder
          run: zip -vr release.zip aws-login-darwin-x64/

        - name: Create release
          id: create_release
          uses: actions/create-release@v2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            tag_name: ${{ github.ref }}
            release_name: Release ${{ github.ref }}
            draft: false
            prerelease: false
        
        - name: Store Build
          uses: actions/upload-release-asset@v1.0.1
          env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          with:
              upload_url: ${{steps.create_release.outputs.upload_url}}
              asset_path: .\release.zip
              asset_name: release.zip
              asset_content_type: application/zip